PORT=3333
HOST=0.0.0.0

# Database (PostgreSQL via Docker na porta 5433)
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/saas_db"

# Redis (Docker na porta 6380)
REDIS_HOST="localhost"
REDIS_PORT=6380

# JWT
JWT_SECRET="sua-chave-secreta-super-segura-aqui"